@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

html {
  min-height: 100%;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  min-height: 100%;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.button {
  font-size: 16px;
  line-height: 23px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  font-family: inherit;
  border: none;
}

.button-header {
  min-width: 160px;
  padding: 8px 15px;
  align-self: start;
  border-radius: 4px;
}

.button-header:hover {
  background-color: #615048;
}

.button-header:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.button-header:disabled {
  background-color: #e5e5e5;
}

.button-search {
  font-size: 20px;
  line-height: 36px;
  padding: 15px;
  border-radius: 4px;
  min-width: 575px;
  display: block;
}

.button-search:hover {
  background-color: #615048;
}

.button-search:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.button-search:disabled {
  background-color: #e5e5e5;
}

.subscription-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
  min-height: 59px;
  min-width: 200px;
  border-radius: 0 10px 10px 0;
  padding: 0;
}

.subscription-button:hover {
  background-color: #68a2ca;
}

.subscription-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.subscription-button:disabled {
  background-color: #e5e5e5;
}

.button-use {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #82b3d3;
  min-width: 160px;
  padding: 14px 15px;
  border-radius: 4px;
  margin-bottom: 20px;
  cursor: pointer;
}

.button-use:hover {
  background-color: #68a2ca;
}

.button-use:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.button-use:disabled {
  background-color: #e5e5e5;
}

.button-false {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.button-false:hover {
  opacity: 0.6;
}

.button-false:focus {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.button-false:active {
  opacity: 0.3;
}

.button-blue {
  background-color: #82b3d3;
}

.button-blue:hover {
  background-color: #68a2ca;
}

.button-blue:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.button-blue:disabled {
  background-color: #e5e5e5;
}

.button-green {
  background-color: #7db54f;
}

.button-green:hover {
  background-color: #6c9e42;
}

.button-green:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #7db54f;
}

.button-green:disabled {
  background-color: #e5e5e5;
}

.hotels-card-button {
  padding: 8px 15px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.button-more:hover {
  background-color: #615048;
}

.button-more:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.button-more:disabled {
  background-color: #e5e5e5;
}

.navigation {
  display: flex;
  position: relative;
  padding: 20px 70px 0 240px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 410px;
  list-style: none;
}

.navigation-user {
  max-width: 280px;
  margin-left: auto;
}

.navigation-logo {
  width: 139px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 70px;
}

.navigation-item {
  margin-right: 34px;
}

.navigation-link {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  padding-bottom: 20px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.intro {
  background-image: url("../images/index-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  padding: 51px 100px 83px 51px;
}

.advantages {
  text-align: center;
  padding-top: 63px;
}

.advantages-card {
  display: flex;
}

.advantages-description-card {
  margin: 0;
}

.advantages-card-wrapper {
  padding: 92px 85px;
  background: #82b3d3;
  color: #ffffff;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.advantages-list .advantages-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list-modify .advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list-modify .advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item {
  padding: 80px 85px;
}

.advantages-title {
  margin: 0 0 30px 0;
}

.advantages-photo {
  display: block;
  width: 66.66%;
  height: auto;
  object-fit: cover;
}

.main-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 31px 0;
}

.main-subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0 0 90px 0;
}

.advantages-icon-home {
  background-image: url("../images/home.svg");
  background-position: center;
  background-repeat: no-repeat;
  height: 72px;
  margin-bottom: 30px;
}

.advantages-icon-food {
  background-image: url("../images/food.svg");
  background-position: center;
  background-repeat: no-repeat;
  height: 72px;
  margin-bottom: 30px;
}

.advantages-icon-surprize {
  background-image: url("../images/surprize.svg");
  background-position: center;
  background-repeat: no-repeat;
  height: 72px;
  margin-bottom: 30px;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-description {
  margin: 0;
  color: #333333;
}

.advantages-description-number {
  display: block;
  margin: 0 0 30px 0;
}

.search {
  text-align: center;
  padding: 91px 300px 93px 300px;
}

.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 29px 0;
}

.search-subtitle {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0 0 56px 0;
}

.subscription {
  text-align: center;
  color: #ffffff;
  background-image: url("../images/subscription.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 94px 200px;
}

.subscription-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 29px 0;
}

.subscription-subtitle {
  font-size: 22px;
  line-height: 26px;
  margin: 0 0 46px 0;
}

.subscription-form {
  display: flex;
}

.field {
  padding: 20px 20px 20px 20px;
  flex-grow: 1;
  border: none;
  border-radius: 10px 0 0 10px;
  background-color: #f2f2f2;
}

.page-footer {
  display: flex;
  margin-top: auto;
  padding: 40px 70px;
}

.footer-social-item {
  padding: 12px 14px;
}

.footer-social-list {
  width: 150px;
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.social-icon {
  fill: #83b3d3;
}

.button-social:hover .social-icon {
  fill: #68a2ca;
}

.button-social:active .social-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  width: 720px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-contacts-phone:hover {
  color: #756157;
}

.footer-contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.htmlacademy-link {
  max-width: 120px;
  margin-left: auto;
}

.htmlacademy-link-icon {
  fill: #000000;
}

.htmlacademy-link:hover .htmlacademy-link-icon {
  fill: #756157;
}

.htmlacademy-link:active .htmlacademy-link-icon {
  fill: rgba(117, 97, 87, 0.3);
}

.inner-wrapper {
  color: #ffffff;
  background-image: url("../images/catalog/background-catalog.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 35px 72px 86px 71px;
}

.inner-header {
  width: 1060px;
  margin: 0 auto;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
}

.breadcrumbs {
  display: flex;
  margin: 0 0 40px 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-link {
  margin-right: 25px;
}

.filtration {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  align-self: center;
}

.inner-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-right: auto;
  align-self: center;
}

.select-control {
  margin-right: 78px;
  min-width: 290px;
  padding: 14px 20px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  font-family: inherit;
}

.button-filtr {
  display: inline-block;
  width: 48px;
  height: 48px;
  padding: 12px 14px;
  border: 2px solid #000000;
  border-radius: 4px;
}

.button-light {
  border: 2px solid #e5e5e5;
}

.filtration-type:not(:last-child) {
  margin-right: 8px;
}

.filtration-icon {
  fill: #000000;
}

.button-filtr:hover {
  outline: 2px solid #000000;
}

.button-filtr:focus {
  outline: 2px solid #68a2ca;
}

.button-filtr:active {
  outline: 2px solid #000000;
}

.catalog-filter {
  display: grid;
  grid-template-columns: 150px 150px 1fr 160px;
  gap: 67px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-group-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 161px;
  margin-left: auto;
  align-self: flex-end;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 30px;
}

.catalog-filter-item {
  margin-bottom: 15px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-cards {
  padding: 57px 73px 23px 73px;
}

.catalog-cards-wrapper {
  display: flex;
  margin-bottom: 56px;
}

.hotels-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  margin: 0 0 30px 0;
  padding: 0 0 86px 0;
  gap: 0 18px;
  border-bottom: 1px solid #e6e6e6;
}

.hotels-card-content {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 16px 20px;
}

.hotels-card {
  padding: 20px;
}

.hotels-card-image {
  margin-bottom: 16px;
}

.hotels-card-link {
  display: block;
  margin-bottom: 16px;
  text-decoration: none;
}

.hotels-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;
}

.hotels-card-type {
  color: #333333;
}

.hotels-card-price {
  color: #333333;
}

.hotels-card-rating {
  color: #333333;
  background-color: #f2f2f2;
  padding: 8px 22px;
  border-radius: 4px;
}

.hotels-star-rating {
  background-image: url("../images/catalog/star.svg");
  align-self: center;
  background-repeat: space;
  width: 89px;
  height: 17px;
}

.star-three {
  width: 66px;
}

.star-two {
  width: 45px;
}

.pagination-container {
  display: flex;
}

.pagination {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 11px 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #82b3d3;
}

.pagination-link:hover {
  background-color: #68a2ca;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-current:hover {
  background-color: #f2f2f2;
}

.pagination-current:active {
  background-color: #f2f2f2;
}

.select-wrapper {
  margin-left: auto;
}

.select-pagination {
  min-width: 160px;
  padding: 14px 20px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
}

.hotels-amount {
  margin-right: 51px;
}

.subscription-inner {
  text-align: center;
  padding: 94px 200px;
}

.navigation-link-active {
  border-bottom: 2px solid #756257;
}
