@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

html {
  min-height: 100%;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  min-height: 100%;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.button {
  font-size: 16px;
  line-height: 23px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  font-family: inherit;
  border: none;
  cursor: pointer;
}

.button-header {
  min-width: 160px;
  padding: 8px 15px;
  border-radius: 4px;
  margin-left: 18px;
}

.button-header:hover {
  background-color: #615048;
}

.button-header:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.button-header:disabled {
  background-color: #e5e5e5;
}

.button-search {
  font-size: 20px;
  line-height: 36px;
  padding: 12px 15px;
  border-radius: 4px;
  min-width: 574px;
  display: inline-block;
}

.button-search:hover {
  background-color: #615048;
}

.button-search:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.button-search:disabled {
  background-color: #e5e5e5;
}

.subscription-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
  min-height: 59px;
  min-width: 200px;
  border-radius: 0 10px 10px 0;
  padding: 0;
}

.subscription-button:hover {
  background-color: #68a2ca;
}

.subscription-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.subscription-button:disabled {
  background-color: #e5e5e5;
}

.button-use {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #82b3d3;
  min-width: 160px;
  padding: 14px 15px;
  border-radius: 4px;
  margin-bottom: 20px;
  cursor: pointer;
}

.button-use:hover {
  background-color: #68a2ca;
}

.button-use:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.button-use:disabled {
  background-color: #e5e5e5;
}

.button-false {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-family: inherit;
}

.button-false:hover {
  opacity: 0.6;
}

.button-false:focus {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.button-false:active {
  opacity: 0.3;
}

.button-blue {
  background-color: #82b3d3;
}

.button-blue:hover {
  background-color: #68a2ca;
}

.button-blue:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.button-blue:disabled {
  background-color: #e5e5e5;
}

.button-green {
  background-color: #7db54f;
}

.button-green:hover {
  background-color: #6c9e42;
}

.button-green:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #7db54f;
}

.button-green:disabled {
  background-color: #e5e5e5;
}

.hotels-card-button {
  padding: 8px 15px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.button-more:hover {
  background-color: #615048;
}

.button-more:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.button-more:disabled {
  background-color: #e5e5e5;
}

.page-header {
  z-index: 1;
}

.navigation {
  display: flex;
  position: relative;
  padding: 20px 70px 0 240px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 410px;
  list-style: none;
}

.navigation-item:first-child {
  margin-left: 17px;
}

.navigation-link-active {
  position: relative;
}

.navigation-link-active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #756257;
  bottom: 0;
  left: 0;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
  transform: translateY(-10px);
}

.navigation-link-user {
  display: flex;
  position: relative;
  text-decoration: none;
  padding: 3px 12px 0 11px;
}

.navigation-link-user-basket::after {
  position: absolute;
  content: "";
  background-image: url("../images/number.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  top: -5px;
  right: 0;
}

.navigation-logo {
  width: 139px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 70px;
}

.navigation-item {
  margin-right: 34px;
}

.navigation-link {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  padding-bottom: 20px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.intro {
  background-image: url("../images/index-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  padding: 51px 100px 80px 100px;
  position: relative;
}

.intro::before {
  position: absolute;
  content: "";
  background-image: url("../images/divider.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 1200px;
  height: 57px;
  left: 0;
  bottom: 0;
}

.advantages {
  text-align: center;
  padding-top: 63px;
}

.advantages-card {
  display: flex;
}

.advantages-description-card {
  margin: 0;
}

.advantages-card-wrapper {
  padding: 92px 85px;
  background: #82b3d3;
  color: #ffffff;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.advantages-list .advantages-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list-modify .advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list-modify .advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item {
  padding: 80px 85px;
}

.advantages-list .advantages-item {
  position: relative;
  padding: 183px 87px 80px 87px;
}

.advantages-list-modify .advantages-item {
  padding: 102px 85px 101px 85px;
}

.advantages-title {
  margin: 0 0 30px 0;
}

.advantages-photo {
  display: block;
  width: 66.66%;
  height: auto;
  object-fit: cover;
}

.main-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 31px 0;
}

.main-subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0 0 90px 0;
}

.advantages-item::before {
  content: "";
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  left: 50%;
  transform: translateX(-50%);
  top: 80px;
}

.advantages-icon-home::before {
  background-image: url("../images/home.svg");
  width: 75px;
  height: 72px;
}

.advantages-icon-food::before {
  background-image: url("../images/food.svg");
  width: 74px;
  height: 70px;
}

.advantages-icon-surprize::before {
  background-image: url("../images/surprize.svg");
  width: 64px;
  height: 76px;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-description {
  margin: 0;
  color: #333333;
}

.advantages-description-number {
  display: block;
  margin: 0 0 30px 0;
}

.search {
  text-align: center;
  padding: 91px 300px 93px 300px;
}

.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 29px 0;
}

.search-subtitle {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0 0 56px 0;
}

.subscription {
  text-align: center;
  color: #ffffff;
  background-image: url("../images/subscription.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 94px 200px;
}

.subscription-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 29px 0;
}

.subscription-subtitle {
  font-size: 22px;
  line-height: 26px;
  margin: 0 0 46px 0;
}

.subscription-form {
  display: flex;
}

.field {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 20px 20px 20px 20px;
  flex-grow: 1;
  border: none;
  border-radius: 10px 0 0 10px;
  background-color: #f2f2f2;
}

.page-footer {
  display: flex;
  margin-top: auto;
  padding: 45px 70px 30px 70px;
}

.footer-social-item {
  padding: 11px 13px;
}

.footer-social-list {
  width: 150px;
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.social-icon {
  fill: #83b3d3;
}

.button-social:hover .social-icon {
  fill: #68a2ca;
}

.button-social:active .social-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  width: 720px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin: 0 34px;
}

.footer-contacts-phone:hover {
  color: #756157;
}

.footer-contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.htmlacademy-link {
  max-width: 120px;
  margin-left: auto;
  align-self: center;
}

.htmlacademy-link-icon {
  fill: #000000;
}

.htmlacademy-link:hover .htmlacademy-link-icon {
  fill: #756157;
}

.htmlacademy-link:active .htmlacademy-link-icon {
  fill: rgba(117, 97, 87, 0.3);
}

.inner-wrapper {
  color: #ffffff;
  background-image: url("../images/catalog/background-catalog.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 403px;
  padding: 35px 72px 66px 71px;
}

.inner-header {
  width: 1060px;
  margin: 0 auto;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0 0 10px 0;
}

.breadcrumbs {
  display: flex;
  margin: 0 0 40px 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-link {
  position: relative;
  margin-right: 25px;
  font-size: 16px;
  cursor: pointer;
}

.breadcrumbs-link::before {
  content: "";
  position: absolute;
  background-image: url("../images/arrow.svg");
  background-size: cover;
  width: 6px;
  height: 9px;
  top: 50%;
  right: -15px;
  transform: translateY(-50%);
}

.breadcrumbs-link-current::before {
  display: none;
}

.breadcrumbs-icon {
  fill: #ffffff;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.control {
  position: relative;
  display: block;
  padding-left: 40px;
}

.control-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.control:hover .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-input:focus + .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
  border: 3px solid #83b3d3;
}

.control:active .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  content: "";
  position: absolute;
  background-image: url("../images/catalog/checkbox.svg");
  width: 13px;
  height: 10px;
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
}

.control-wrapper {
  position: relative;
  display: flex;
  margin-bottom: 32px;
}

.control-input-price {
  width: 144px;
  height: 48px;
  color: #ffffff;
  background-color: transparent;
  padding: 14px 35px 13px 19px;
  border: 2px solid #ffffff;
  outline: none;
  font-size: 18px;
  line-height: 21px;
}

.control-input-min {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  margin-right: -1px;
}

.control-input-max {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  margin-left: -1px;
}

.control-price {
  position: relative;
}

.control-price span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 14px;
  opacity: 0.3;
}

.control-input-price:hover {
  border-color: rgba(255, 255, 255, 0.6);
}

.control-input-price:focus {
  background-color: transparent;
  border-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 0px 3px #81b3d2, inset 0px 0px 0px 3px #81b3d2;
}

.control-input-price:active {
  background-color: #756257;
}

.range-scale {
  position: relative;
  width: 288px;
  height: 4px;
  background-color: rgb(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  width: 228px;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-toggle:focus {
  border: 3px solid #83b3d3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  border: 2px solid #83b3d3;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
}

.filtration {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  align-self: center;
}

.inner-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-right: auto;
  align-self: center;
}

.select-control {
  margin-right: 78px;
  min-width: 290px;
  padding: 14px 20px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  font-family: inherit;
  background-image: url("../images/catalog/arrow-select.svg");
  background-repeat: no-repeat;
  background-position: right 21px center;
  appearance: none;
}

.button-filtr {
  display: inline-block;
  width: 48px;
  height: 48px;
  padding: 12px 14px;
  border: 2px solid #000000;
  border-radius: 4px;
}

.button-light {
  border: 2px solid #e5e5e5;
}

.filtration-type:not(:last-child) {
  margin-right: 8px;
}

.filtration-icon {
  fill: #000000;
}

.button-filtr:hover {
  outline: 2px solid #000000;
}

.button-filtr:focus {
  outline: 2px solid #68a2ca;
}

.button-filtr:active {
  outline: 2px solid #000000;
}

.catalog-filter {
  display: grid;
  grid-template-columns: 150px 150px 1fr 160px;
  gap: 69px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-group:nth-child(3) {
  padding-left: 103px;
}

.catalog-filter-group-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 161px;
  margin-left: auto;
  align-self: flex-end;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 30px;
  padding: 0;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 15px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-cards {
  padding: 53px 73px 23px 73px;
}

.catalog-cards-wrapper {
  display: flex;
  margin-bottom: 56px;
}

.hotels-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  margin: 0 0 30px 0;
  padding: 0 0 66px 0;
  gap: 0 18px;
  border-bottom: 1px solid #e6e6e6;
}

.hotels-card-content {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 16px 20px;
}

.hotels-card {
  padding: 20px;
}

.hotels-card-image {
  margin-bottom: 16px;
}

.hotels-card-link {
  display: block;
  margin-bottom: 16px;
  text-decoration: none;
}

.hotels-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;
}

.hotels-card-type {
  color: #333333;
}

.hotels-card-price {
  color: #333333;
}

.hotels-card-rating {
  color: #333333;
  background-color: #f2f2f2;
  padding: 8px 22px;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
}

.hotels-star-rating {
  background-image: url("../images/catalog/star.svg");
  align-self: center;
  background-repeat: space;
  width: 85px;
  height: 17px;
}

.star-three {
  width: 66px;
}

.star-two {
  width: 45px;
}

.pagination-container {
  display: flex;
  align-items: center;
}

.pagination {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 11px 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #82b3d3;
}

.pagination-link:hover {
  background-color: #68a2ca;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-current:hover {
  background-color: #f2f2f2;
}

.pagination-current:active {
  background-color: #f2f2f2;
}

.select-wrapper {
  margin-left: auto;
}

.select-pagination {
  min-width: 160px;
  font-size: 18px;
  line-height: 21px;
  padding: 14px 20px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  background-image: url("../images/catalog/arrow-select.svg");
  background-repeat: no-repeat;
  background-position: right 21px center;
  appearance: none;
}

.select-control:hover,
.select-pagination:hover {
  border-color: #68a2ca;
}

.select-control:focus,
.select-pagination:focus {
  outline: 2px solid #68a2ca;
}

.select-control:active,
.select-pagination:active {
  border-color: #3f5e72;
}

.select-control:disabled,
.select-pagination:disabled {
  color: rgba(0, 0, 0, 0.3);
  border-color: rgba(0, 0, 0, 0.3);
}

.hotels-amount {
  margin-right: 51px;
}

.subscription-inner {
  text-align: center;
  padding: 94px 200px;
}

.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container.is-open {
  display: grid;
}

.modal {
  position: relative;
  margin: auto;
  padding: 62px 70px 70px;
  background-color: #ffffff;
  border-radius: 30px;
  width: 715px;
}

.modal-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0 0 63px 0;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  background-color: #f2f2f2;
  border-radius: 50%;
  border: none;
  background-image: url("../images/modal-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  outline: 3px solid #83B3D3;
}

.modal-close-button:active {
  background-color: #E6E6E6;
  outline: none;
}

.input-wrapper {
  display: grid;
  position: relative;
  grid-template-columns: 155px 367px 53px;
  align-items: center;
  margin-bottom: 40px;
}

.input-wrapper.is-invalid .date-text-error {
  display: block;
}

.input-wrapper.is-valid .date-text-received {
  display: block;
}

.date-text {
  grid-column: 2/4;
  padding: 15px 40px 15px 19px;
  background-color: #f2f2f2;
  border-radius: 4px;
  border: none;
}

.date-text::placeholder {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.date-text:hover {
  background-color: #e6e6e6;
}

.date-text:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.date-text:not(:placeholder-shown) {
  background-color: #ffffff;
  outline: 2px solid #000000;
}

.date-button {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 15px;
  right: 17px;
  background-image: url("../images/modal-calendar.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.date-text-error {
  grid-column: 2/3;
  margin: 0;
  color: #ff5757;
  font-size: 16px;
  line-height: 21px;
  display: none;
  position: absolute;
  top: 55px;
}

.date-text-received {
  grid-column: 2/3;
  margin: 0;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  display: none;
  position: absolute;
  top: 55px;
}

.label-date {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.field-wrapper {
  display: grid;
  grid-template-columns: 155px 133px 155px 133px;
  gap: 40px 0;
  align-items: center;
}

.field-box {
  position: relative;
}

.field-number {
  width: 133px;
  grid-column: 2/4;
  padding: 15px 40px 14px 40px;
  background-color: #f2f2f2;
  border-radius: 4px;
  border: none;
  text-align: center;
}

.field-number::placeholder {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.field-label:last-of-type {
  justify-self: center;
}

.field-button {
  width: 25px;
  height: 25px;
  border: none;
  cursor: pointer;
  background: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  outline: none;
}

.field-button::before,
.field-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 13px;
  height: 1px;
  background-color: #000000;
  opacity: 0.3;
}

.field-button::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.button-minus {
  left: 19px;
}

.button-minus::after {
  display: none;
}

.button-plus {
  right: 19px;
}

.field-button:hover::before,
.field-button:hover::after {
  opacity: 1;
}

.field-button:focus::before,
.field-button:focus::after {
  opacity: 1;
}

.field-button:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
}

.field-button:active::before,
.field-button:active::after {
  opacity: 0.2;
}

.modal-search {
  grid-column: 1/5;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #83b3d3;
  border-radius: 10px;
  padding: 12px 26px;
}

.modal-search:hover {
  background-color: #68A2CA;
}

.modal-search:focus {
background-color: #68A2CA;
outline: 3px solid #756257;
}

.modal-search:active {
  color: rgba(255, 255, 255, 0.3);
}
